:root {
    --gray-1: #eeeeee;
    --gray-2: #e2e2e2;
    --gray-3: #939393;
    --tokio-g-1: #0096a9;
    --tokio-g-2: #0babc0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
}

html {
    font-size: .4cm;
    position: relative;
    min-height: 100%;
}

.btn {
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.region-header {
    background: rgb(76, 76, 76);
    font-size: 14px;
    height: 65px;
    overflow-x: hidden;
    z-index: 10;
}

.region-band {
}

    .region-band .webname {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        color: #ffffff;
    }

        .region-band .webname i {
            font-size: 1.5rem;
            color: #e8b53b;
        }

.region-user {
}

    .region-user i {
        color: #50e6ff;
        color: #fff;
    }

    .region-user label {
        color: #50e6ff;
        color: #fff;
    }

.navi-root {
    width: 300px;
    border: 0;
    background: #057e8e;
}

    .navi-root i {
        padding-right: 10px;
    }

.navi-menu {
}

    .navi-menu div {
        height: 50px;
        padding-left: 20px;
    }

    .navi-menu .btn {
        color: #fff;
    }

        .navi-menu .btn:hover {
            background: var(--tokio-g-2);
        }

.navi-menu-title {
    background: #c4cf55;
    box-shadow: 0 2px 2px -2px #000;
    z-index: 999;
}

    .navi-menu-title div {
        height: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

.container {
    display: flex;
    flex-direction: column;
}

.content-header {
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: flex-start;
    border: 0;
}

    .content-header > div {
        align-items: center;
        align-self: stretch;
        display: flex;
        color: #347ec5;
        font-size: 1.1rem;
    }

    .content-header i {
        margin-right: 10px;
    }


/*.content-body-p {
    border: 1px solid #d8d8d8;
    padding: 30px;
}*/

.content-sub-menu {
    margin-bottom: 10px;
}

    .content-sub-menu label {
        padding: 9px 0 9px 0;
        margin: 0 20px 0 0;
        color: #808080;
        border-bottom: 1px solid transparent;
        transition: .5s all;
        cursor: pointer;
    }

        .content-sub-menu label:hover {
            color: #cc5c5c;
        }

        .content-sub-menu label.active {
            color: var(--font-c);
            border-bottom: 1px solid var(--txt-br);
        }

.wid100 {
    width: 100px;
}

.wid150 {
    width: 150px;
}

.wid200 {
    width: 200px;
}

.wid300 {
    width: 300px;
}

.pdf-inline {
    width: 100%;
}


.btn-eraser {
    color: #cc5c5c;
    border-bottom: 1px solid var( --txt-br);
    cursor:pointer;
}

.btn-search {
    color: #555555;
    cursor: pointer;
    border-bottom: 1px solid var( --txt-br);
}

.lbl-remind {
    font-size: .85rem;
    color: #808080;
}

/*#region <------------------ @Media roles -------------------------<<*/
@media screen and (max-width: 800px) {
    .navi-root {
        width: 200px;
    }
}
/*#endregion*/


